@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br /><h2>Faturalar</h2><br />
<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>Seri No</th>
        <th>Sıra No</th>
        <th>Vergi Dairesi</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Teslim Eden</th>
        <th>Teslim Alan</th>
        <th>Toplam</th>
        <th>Güncelle</th>
        <th>Detaylar</th>        
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.FaturaID</td>
            <td>@k.FaturaSeriNo</td>
            <td>@k.FaturaSıraNo</td>
            <td>@k.VergiDairesi</td>
            <td>@k.FaturaTarih</td>
            <td>@k.FaturaSaat</td>
            <td>@k.TeslimEden</td>
            <td>@k.TeslimAlan</td>            
            <td>@k.Toplam</td>
            <td><a href="/Fatura/FaturaGetir/@k.FaturaID/" class="btn btn-warning">Güncelle</a></td>
            <td> <a href="/Fatura/FaturaDetay/@k.FaturaID" class="btn btn-default" style="color:white ;background-color:lightcoral">Fatura Kalemleri <i class="fa-solid fa-file-pen"></i></a></td>
        </tr>
    }

</table>
<a href="/Fatura/FaturaEkle/" class="btn btn-info">Yeni Fatura Girişi</a>



