@using MvcOnlineTicariOtomasyon.Models.Siniflar;
@model List<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Ürün Listesi</h2>
@using (Html.BeginForm("Index", "Urun", FormMethod.Get)) 
{ 
    <p>
        Ürün Ara : @Html.TextBox("araP")
        <input type="submit"  value="Ara"/>
        @*<input type="search"  value="Ara" /><i class="fa-solid fa-magnifying-glass"></i>*@
    </p>
}
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>ÜRÜN</th>
        <th>MARKA</th>
        <th>STOK</th>
        <th>ALIŞ FİYAT</th>
        <th>SATIŞ FİYAT</th>
        <th>KATEGORİ</th>
        <th>GÖRSEL</th>
        <th>DURUM</th>
        <th>GÜNCELLE</th>
        <th>SİL</th>
        <th>Satış Yap<i class="fa-solid fa-hand-holding-dollar"></i></th>
    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.UrunId</td>   
            <td>@u.UrunAd</td>
            <td>@u.Marka</td>
            <td>@u.Stok</td>
            <td>@u.AlisFiyati ₺</td>
            <td>@u.SatisFiyati ₺</td>
            <td>@u.Kategori.KategoriAd</td>
            <td>
                <img src="@u.UrunGorsel" alt="urun_gorsel" style="width:50px ;height:50px" />           
            </td>
            <td>@u.Durum</td>
            <td>
                <a href="/Urun/UrunGetir/@u.UrunId" class="btn btn-success">Güncelle</a>
            </td>
            <td>
                <a href="/Urun/UrunSil/@u.UrunId" class="btn btn-danger">Sil</a>
            </td>
            <td>
                <a href="/Urun/UrunSat/@u.UrunId" class="btn btn-info">Sat</a>
            </td>
        </tr>
        }
</table>
<a href="/Urun/YeniUrun/" class="btn btn-info">Yeni Ürün</a>