@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Personel</h2>
<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>Personel ID</th>
        <th>Adı</th>
        <th>Soyadı</th>
        <th>Görsel</th>
        <th>Departman</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Satışlar</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.PersonelID</td>
            <td>@k.PersonelAd</td>
            <td>@k.PersonelSoyad</td>
            <td>@k.PersonelGorsel</td>
            <td>@k.Departman.DepartmanAd</td>
            

            <td> <a href="/Personel/PersonelSil/@k.PersonelID" class="btn btn-danger">Sil</a></td>
            <td> <a href="/Personel/PersonelGetir/@k.PersonelID" class="btn btn-warning">Güncelle</a></td>
            <td> <a href="/Departman/DepartmanPersonelSatis/@k.PersonelID" class="btn btn-default" style="color:white ;background-color:lightcoral">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Personel/PersonelEkle" class="btn btn-info">Personel Ekle</a>

